body {
  background-color: #262626;
  color: #f5f5f5;
  text-align: center;
  font-size: 2.5vw;
  }

  p{
    color: white;
  }

  h1{
    color: white;
  }
.section{
  margin-bottom: 2%;
}
.header{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}    

.header__column{
  min-width: 20%;
}

.status{
  text-align: right;
  flex-grow: 1;
  padding-right: 2vw;
  transform: translateY(-20%);
}

#status{
  color: grey;
}

.preferences{
  text-align: left;
  flex-grow: 1;
  padding-left: 2vw;
}

.fixUser{
  text-align: center;
  flex-grow: 1;
}
.category{
  display: inline;
  margin-top: 2%;
  margin-bottom: 2%;
}
.markerData{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.markerData__column{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin-left: 2vw;
  margin-right: 2vw;
  flex-grow: 1;
}

.copyPaste{
  margin-left: -20px;
}

.option__group{
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.option{
  margin-left: 5%;
  margin-right: 5%;
}

.title{
  font-size: 3.3vw;
  margin-bottom: 2%;
}

.paste{
  transform: translateY(15%);
}

button{
  cursor: pointer;
}
/**************************************************************************************

NOW We are going into the different status

*/

.option--active{
  color:#17e25a;
  font-weight: bold;
}

.option--inactive{
  color: gray;
}

.table--active{
  color: #17e25a;
}

.table--inactive{
  color: gray;
}

/**************************************************************************************

NOW We are going into the different states

*/

.option:hover{
  color: lightblue;
  cursor: pointer;
}

.keyword__selector:hover{
  color: lightblue;
  cursor: pointer; 
}

.labelIcon:hover{
  color: lightblue;
  cursor: pointer; 
}

#folderSelection:hover{
  background-color: lightblue;
  cursor: pointer; 
}

.box--inactive:hover{
  background-color: lightblue;
  cursor: pointer; 
}

#checkSelection:hover{
  background-color: grey;
  cursor: pointer; 
}

.minus:hover{
  cursor: pointer; 
  background-color: rgba(235, 8, 8, .5);
}

.addC:hover{
  cursor: pointer; 
  background-color: rgba(8, 235, 46, .5);
}


/**************************************************************************************

NOW We are going into the different panels

*/
.runButton{
  font-size: 3vw;
}
.panel__table{
  position: absolute;
  display: flex;
  flex-direction: column;
  left: 50%;
  transform: translateX(-50%);
  min-width: 50%;
  max-width: 60%;
}

.panel_MarkerColors__csv{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#folderSelection{
  width: 5vw;
  height: 5vw;
  margin-right: 5px;
}

#mCSV{
  transform: translateY(-25%);
}

#checkSelection{
  width: 5vw;
  height: 5vw;
  transform: translateY(-20%);
}

#xSelection{
  margin-left: 10px;
  transform: translateY(2px);
  width: 5vw;
  height: 5vw;
}

.box{
  width: 4vw;
  height: 4vw;
  background-color: rgba(10,10,10,.5);
  border: medium;
  margin-left: 1.5vw;
  transform: translateY(30%);
}

.tableKeywords{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 3%;
}

.field{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 3%;
}

.table__header{
  flex-grow: 1;
  max-width: 50%;
  margin-bottom: 1%;
}

.field__header{
  flex-grow: 1;
  max-width: 50%;
  margin-bottom: 1%;
}

select{
  font-size: 2vw;
}

.keyword{
  max-width: 70%;
  min-width: 20%;
}
input{
  font-size: 2vw;
}

.add_IMG{
  width: 0px;
  height: 0px;
  padding: 10px 10px;
  background: url('../assets/images/Icons_Sm.png') -10px -10px; 
 
}

.addField{
  margin-top: 5%;
  align-self: center;
}

.dropdownColor__wrapper__choice{
  width: 50%;
}

.addC{
  width: 4.5vw;
  height: 4.5vw;
}

.minus{
  position: relative;
  left: 28%;
  width: 4.5vw;
  height: 4.5vw;
}

.icon{
  display: inline;
  width: 5vw;
}

.labelIcon{
  display: inline;
  position: absolute;
  transform: translateY(-50%);
}




#copySelection{
  width: 3.5vw;
  height: 4.5vw;
}

#pasteText{
  transform: translateY(10%);
}

#CutTxt{
  transform: translateY(10%);
}